* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:
        Arial,
        "Noto Sans Bengali",
        sans-serif;

    background:
        linear-gradient(
            135deg,
            #101827,
            #172554
        );

    color: white;
}

button,
input {
    font: inherit;
}